html,
body {
	height: 100%;
}

body {
	background: #f1f1f1;
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

body.progress,
body.progress * {
	cursor: progress !important;
}

.bar {
	background: #222;
	height: 32px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.list ul,
.menu {
	margin: 0;
	padding: 0;
}

.menu li {
	list-style: none;
}

.menu {
	background: #222;
	position: absolute;
	top: 32px;
	bottom: 0;
	left: 0;
	width: 160px;
	padding: 12px 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.menu a {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #eee;
	text-decoration: none;
	transition-property: border, background, color;
	transition-timing-function: ease-in-out;
	padding: 8px 0;
	position: relative;
}

.menu a::before {
	color: #999;
	width: 36px;
	text-align: center;
	transition: all .1s ease-in-out;
	margin: -1px 0;
}

.menu a:hover {
	color: #45bbe6;
	background-color: #111;
}

.menu a:hover::before {
	color: #45bbe6;
}

.menu a.active::after {
	right: 0;
	border: solid 8px transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border-right-color: #f1f1f1;
	top: 50%;
	margin-top: -8px;
}

.menu a.active {
	background: #0074a2;
	color: #fff;
}

.menu a.active::before {
	color: #fff;
}

.menu .separator {
	height: 10px;
}

.list {
	position: absolute;
	top: 32px;
	bottom: 0;
	left: 160px;
	width: 315px;
	padding: 5px 0 5px 5px;
}

.list .the-list {
	position: absolute;
	top: 43px;
	bottom: 5px;
	overflow: auto;
	/*border: 5px solid transparent;*/
	border: 1px solid #e5e5e5;
	margin: 4px;
	width: 305px;
}

.list .the-list:focus {
	/*border-color: rgba( 91, 157, 217, 0.5 );*/
	outline: none;
}

.the-list a {
	background: #fff;
	box-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.1 );
	display: block;
	padding: 10px;
	padding-left: 14px;
	color: inherit;
	text-decoration: none;
	font-size: 15px;
}

.the-list a.active {
	background-color: #f7fcfe;
	border-left: 4px solid #2ea2cc;
	padding-left: 10px;
}

.the-list a.active + a {
	box-shadow:
		0 -1px 0 rgba( 0, 0, 0, 0.1 ),
		inset 0 1px 0 rgba( 0, 0, 0, 0.02 ),
		inset 0 2px 0 rgba( 0, 0, 0, 0.02 );
}

.the-list li:last-child a {
	border-bottom: none;
}

.the-list a .title {
	margin-bottom: 10px;
}

.the-list a .status,
.the-list a .date {
	font-size: 13px;
	display: inline-block;
}

.the-list a .status {
	border-radius: 3px;
	margin-right: 5px;
	padding: 1px 5px 2px;
	color: #fff;
}

.the-list a .date {
	color: #666;
}

.the-list a.sheduled .status {
	background-color: #2ea2cc;
}

.the-list a.sheduled .date {
	color: #2ea2cc;
}

.the-list a.draft .status,
.the-list a.pending .status {
	background-color: #d54e21;
}

.the-list a.draft .date,
.the-list a.pending .date {
	color: #d54e21;
}

.list-options {
	background: #f1f1f1;
	padding: 5px;
}

.list-options input,
.list-options select {
	margin: 0;
	line-height: 20px;
}

.content {
	position: absolute;
	top: 32px;
	right: 0;
	bottom: 0;
	left: 480px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.content-navigation {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 28px;
	padding: 10px 10px 5px 5px;
}

.content-navigation .dashicons-admin-collapse {
	font-size: 24px;
	height: 24px;
	width: 24px;
	margin: 2px;
	color: #777;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.content-buttons {
	float: right;
}

.collapse .content-navigation .dashicons-admin-collapse {
	-webkit-transform: rotate( 180deg );
	-ms-transform: rotate( 180deg );
	transform: rotate( 180deg );
}

.collapse .content {
	left: 0;
}

.content-section {
	position: absolute;
	top: 47px;
	right: 10px;
	bottom: 10px;
	left: 5px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.editor-area {
	position: absolute;
	top: 37px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.editor-area > h1 {
	margin: 0;
}

.title-field {
	padding: 20px 20px 10px;
	display: block;
}

.content-field {
	padding: 10px 20px 20px;
}

.mce-edit-focus {
	outline: none;
}
