.bar {
	background: #56A0D3;
	height: 42px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 2px;
	/*border-bottom: 1px solid #56A0D3*/
}

.bar a {
	font-size: 26px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	color: rgba(256,256,256,0.7);
	padding: 8px;
}

.bar a.active {
	color: #fff;
}

.bar-right {
	float: right;
}

.bar-right > img {
	padding: 8px;
}
