.scrollable {
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
}

.scrollable.top-shadow ~ .top-shadow,
.scrollable.bottom-shadow ~ .bottom-shadow {
	height: 6px;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-shadow:
		inset 0 2px 0 rgba( 0, 0, 0, 0.02 ),
		inset 0 4px 0 rgba( 0, 0, 0, 0.02 ),
		inset 0 6px 0 rgba( 0, 0, 0, 0.02 );
}

.scrollable.bottom-shadow ~ .bottom-shadow {
	top: auto;
	bottom: 0;
	box-shadow:
		inset 0 -2px 0 rgba( 0, 0, 0, 0.02 ),
		inset 0 -4px 0 rgba( 0, 0, 0, 0.02 ),
		inset 0 -6px 0 rgba( 0, 0, 0, 0.02 );
}
